venv/*

.env
*.env
notes.md

rules/*

.cursorrules

.cursorrules
*/.__pycache__
*/.pytest_cache
*/.vscode
*/.idea
*/.DS_Store
*/.venv


# Ignore Python cache directories
__pycache__/
**/__pycache__/*
*.pyc


